<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Choose a country</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/styles/govuk-template.css?0.19.1" media="screen" rel="stylesheet" type="text/css"/>
    <link href="/assets/styles/application.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="/assets/styles/phase-banner.css" media="screen" rel="stylesheet" type="text/css"/>
</head>
<body class="">
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<div id="skiplink-container">
    <div>
        <a href="#content" class="skiplink">Skip to main content</a>
    </div>
</div>
<div id="global-cookie-message">
    <p>GOV.UK uses cookies to make the site simpler. <a href="#" title="Find out more about cookies">Find out more about
        cookies</a></p>
</div>
<header role="banner" id="global-header" class="">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
                <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" style="background: none;" class="content">
                    <img src="/assets/styles/images/gov.uk_logotype_crown.png?0.19.1" width="36" height="32" alt="" style="display: none;">
                    GOV.UK
                </a>
            </div>
        </div>
    </div>
</header>
<div id="global-header-bar"></div>
<main id="content">
    <div class="phase-banner">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="mailto:eidas-alpha@digital.cabinet-office.gov.uk">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <div class="grid-row">
        <div class="column-third"><a href="javascript:history.back()" class="link-back">Back</a></div>
        <div class="available-languages">
            <ul>
                <li class="translation">
                    <span>English</span>
                </li>
                <li class="translation last" title="Support for Welsh to be implemented">
                    <a lang="cy" hreflang="cy" href="/dechrau" class="disabled">Cymraeg</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="article-container column-two-thirds">
        <header class="page-header">
            <h1 class="heading-xlarge">Which EU country is your eID from?</h1>
        </header>
        <article>
            <div class="country-picker">
                <form action="/choose-a-country" method="post">
                    <select name="country" id="country-selector" class="select form-control-2-3" autofocus="autofocus" autocorrect="off" autocomplete="off">
                        <option value=""></option>
                        <option value="NL" data-alternative-spellings="Netherlands  Kingdom of the Netherlands NL Nederland">Netherlands</option>
                        <option value="ES" data-alternative-spellings="Spain Kingdom of Spain ES E España Espana">Spain</option>

                        <option value="AT" data-alternative-spellings="Austria Republic of Austria AT  A Österreich  Osterreich">Austria</option>
                        <option value="BE" data-alternative-spellings="Belgium Kingdom of Belgium  BE  B Belgique België Belgie  ">Belgium</option>
                        <option value="BG" data-alternative-spellings="Bulgaria Republic of Bulgaria  BG      ">Bulgaria</option>
                        <option value="HR" data-alternative-spellings="Croatia Republic of Croatia HR    Hrvatska  ">Croatia</option>
                        <option value="CY" data-alternative-spellings="Cyprus Republic of Cyprus  CY      ">Republic of Cyprus</option>
                        <option value="CZ" data-alternative-spellings="Czech Republic Czech Republic  CZ    Česká republika Ceska republika">Czech Republic</option>
                        <option value="DK" data-alternative-spellings="Denmark Kingdom of Denmark  DK  DK  Danmark ">Denmark</option>
                        <option value="EE" data-alternative-spellings="Estonia Republic of Estonia EE    Eesti ">Estonia</option>
                        <option value="FI" data-alternative-spellings="Finland Republic of Finland FI  FIN Suomi Finland ">Finland</option>
                        <option value="FR" data-alternative-spellings="France French Republic FR  F France  ">France</option>
                        <option value="DE" data-alternative-spellings="Germany Federal Republic of Germany DE  D Deutschland ">Germany</option>
                        <option value="EL" data-alternative-spellings="Greece Hellenic Republic EL  EL    ">Greece</option>
                        <option value="HU" data-alternative-spellings="Hungary Hungary HU    Magyarország  Magyarorszag">Hungary</option>
                        <option value="IE" data-alternative-spellings="Ireland Ireland IE  IRL Éire Eire Ireland ">Ireland</option>
                        <option value="IT" data-alternative-spellings="Italy Italian Republic  IT  I Italia  ">Italy</option>
                        <option value="LV" data-alternative-spellings="Latvia Republic of Latvia  LV    Latvija ">Latvia</option>
                        <option value="LT" data-alternative-spellings="Lithuania Republic of Lithuania LT    Lietuva ">Lithuania</option>
                        <option value="LU" data-alternative-spellings="Luxembourg Grand Duchy of Luxembourg LU  L Luxembourg  ">Luxembourg</option>
                        <option value="MT" data-alternative-spellings="Malta Republic of Malta MT    Malta ">Malta</option>
                        <option value="PL" data-alternative-spellings="Poland Republic of Poland  PL    Polska  ">Poland</option>
                        <option value="PT" data-alternative-spellings="Portugal Portuguese Republic PT  P Portugal  ">Portugal</option>
                        <option value="RO" data-alternative-spellings="Romania Romania RO    România Romania">Romania</option>
                        <option value="SK" data-alternative-spellings="Slovakia Slovak Republic SK    Slovensko ">Slovakia</option>
                        <option value="SI" data-alternative-spellings="Slovenia Republic of Slovenia  SI    Slovenija ">Slovenia</option>
                        <option value="SE" data-alternative-spellings="Sweden Kingdom of Sweden SE  S Sverige ">Sweden</option>
                    </select>
                    <input id="user_input" type="submit" value="Select" class="button"/>
                </form>
                <div class="country-info">
                    <div id='noEidas'>
                        <h2 class="heading-medium"><span id="display-noEidas"></span> doesn't have an eID you can use with this service</h2>
                        <p>Your country doesn't yet have an eID that you can use to sign in.</p>
                        <p><a href="javascript:history.back()">Try another way to sign in.</a>
                        </p>
                    </div>
                    <div id='noCountry'>
                        <h2 class="heading-medium">Please select a country from the list</h2>
                        <p><a href="javascript:history.back()">Try another way to sign in.</a>
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</main>
<footer class="group js-footer" id="footer" role="contentinfo">
    <div class="footer-wrapper">
        <div class="footer-meta">
            <div class="footer-meta-inner">
                <h2 class="visuallyhidden">Support links</h2>
                <ul>
                    <li><a href="https://gov.uk/help" hreflang="en">Help</a></li>
                    <li><a href="https://www.signin.service.gov.uk/cookies">Cookies</a></li>
                    <li><a href="https://www.signin.service.gov.uk/privacy-notice">Privacy notice</a></li>
                    <li>
                        <a href="https://www.signin.service.gov.uk/feedback">Feedback</a>
                    </li>
                    <li>Built by the <a href="https://gds.blog.gov.uk" lang="en" hreflang="en">Government Digital
                        Service</a></li>
                </ul>
                <div class="open-government-licence">
                    <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                    <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>,
                        except where otherwise stated</p>
                </div>
            </div>
            <div class="copyright">
                <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
            </div>
        </div>
    </div>
</footer>
<div id="global-app-error" class="app-error hidden"></div>
<script src="/assets/scripts/jquery-1.11.1.min.js"></script>
<script src="/assets/scripts/jquery-ui.min.js"></script>
<script src="/assets/scripts/jquery.select-to-autocomplete.js"></script>
<script src="/assets/scripts/country-picker.js"></script>
</body>
</html>
