<!doctype html>
<form action="/choose-a-country" method="post">
    <input type="hidden" name="country" value="FR" />
    <input type="submit" value="France" />
</form>
<form action="/choose-a-country" method="post">
    <input type="hidden" name="country" value="NL" />
    <input type="submit" value="The Netherlands" />
</form>
